@import url(reset.css);

.banner{
    align-items: center;
    background-image: url(./images/banner.png);
    display: flex;
    justify-content: center;
    height: 60vh;
}

.banner-content{
    justify-items: center;
}

.banner-content h1{
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(#3BA1CD,#1572B7);
    font-weight: bolder;
    text-transform: uppercase;
}

.banner-content p{
    padding: 0.5em;
    text-align: center;
    width: 28em;
}

.banner-content button{
    font-size: 1em;
    height: auto;
    margin: 1em 0 2em;
    padding: 0.5em 2em;
    width: 10em;
}

